# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows stuff
Debug/
Profiling/
Release/
ReleaseDebug/
Ctoolhu.vcxproj.user

